@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.row {
  padding: 0;
  margin: 0;
  gap: 8px;
  flex-wrap: nowrap;
}
.row > * {
  margin: 0;
  padding: 0;
}

.col-2 {
  width: auto;
  flex-grow: 1;
}

ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}

.todo-app {
  margin-bottom: 0;
}

/* Extra small devices (phones, 568px and down) */
@media only screen and (max-width: 568px) {
  main {
    width: 100%;
  }
}
